// import

@import "variable";

// button

.btn {
  font-size: $font-size-base;

  // btn primary
  &.btn-primary {
    background-color: $color-bg-dark;
    color: $text-color-white;
    font-size: inherit;
    border: 1px solid;

    &:focus {
      background-color: $color-bg-medium;
    }
  }

  //   btn secondary
  &.btn-secondary {
    background-color: $color-bg-light;
    color: $text-color-black;
    border: 1px solid $border-color-light;

    &:focus {
      background-color: $color-bg-medium;
    }
  }

  &.btn-tertiary {
    background-color: $color-bg-medium;
    color: $text-color-white;
    border: 1px solid $color-bg-medium;

    &:focus {
      background-color: $color-bg-medium;
    }
  }
}

// card

.card {
  .card-body {
    .card-title {
      font-size: $font-size-lg;
      font-weight: 500;
      margin: 0.5rem 0 1rem;
    }

    .card-text {
      font-size: $font-size-sm;
    }
  }
}
